* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'helvetica neueu', helvetica, arial, sans-serif;
  font-weight: 200;
  min-height: 100%;
  font-size: 14px;
}

.wrap, .container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Welcome {
  background: #96d;
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}

.Welcome > header {
  padding: 50px;
}

.Welcome > h1 {
  font-weight: 100;
  font-family: 'arial narrow';
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  line-height: 0.5;
}

.Welcome > p {
  text-align: center;
  padding: 0 50px;
  line-height: 2;
  margin: 35px 0;
}

.Logo {
  display: block;
  width: 150px;
  height: 150px;
  background: #fff;
  margin: 0 auto;
  border-radius: 50%;
}

.Button {
  display: inline-block;
  background: #fff;
  color: #96d;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  padding: 15px 35px;
  border-radius: 5px;
  cursor: pointer;
}

.Question {
  background: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 150px;
  cursor: pointer;
}

.Question-prompt {
  font-size: 24px;
  padding: 0 30px;
}

.Question-hint {
  color: #aaa;
  font-size: 12px;
  text-transform: uppercase;
}

.Answers {
  background: #fff;
  color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.Answers > p {
  color: #aaa;
  font-size: 12px;
  text-transform: uppercase;
}

.Options {
  position: absolute;
  top: 20px;
  bottom: 10px;
  left: 0;
  right: 0;
}

.Options > a {
  position: absolute;
  width: 50%;
  height: 50%;
  display: block;
  border: solid 10px #fff;
  padding: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  cursor: pointer;
}

a.Answer-nw {
  left: 0;
  top: 0;
  background: #ffc;
}

a.Answer-ne {
  left: 50%;
  top: 0;
  background: #fcc;
}

a.Answer-sw {
  left: 0;
  top: 50%;
  padding-top: 70%;
  background: #cfc;
}

a.Answer-se {
  left: 50%;
  top: 50%;
  padding-top: 70%;
  background: #ccf;
}

.CompletedCircle {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 180px;
  height: 180px;
  margin-left: -90px;
  margin-top: -90px;
  border-radius: 50%;
  background: #fff;
  border: solid 8px #ddd;
  box-shadow: 0 0 0 7px #fff;
  text-align: center;
  padding-top: 20px;
  cursor: pointer;
}

.CompletedCircle > p {
  margin: 10px 0;
  padding: 0;
}

.CompletedCircle-question {
  color: #909;
  font-size: 38px;
  font-weight: 700;
}

.CompletedCircle-label {
  color: #909;
  font-size: 12px;
  text-transform: uppercase;
}

.CompletedCircle-value {
  color: #bbb;
  font-size: 16px;
}

.CompletedCircle-svg {
  position: absolute;
  left: -9px;
  top: -9px;
  width: 180px;
  height: 180px;
}

.Recommendation {
  color: #000;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  padding-top: 50px;
}

.Recommendation > img {
  width: 200px;
  height: 200px;
  background: #909;
  border-radius: 50%;
}

.Recommendation > h1 {
  color: #39f;
  font-size: 36px;
  margin: 20px 0 10px 0;
  font-weight: 100;
}

.Recommendation > h2 {
  font-size: 12px;
  margin: 10px 0;
  font-weight: 100;
}

.Recommendation > p {
  padding: 0 30px;
  line-height: 2;
}
